* {
  margin: 0px 0px;
}

body {
  background: linear-gradient(
    0deg,
    rgba(208, 124, 165, 1) 15%,
    rgba(200, 235, 236, 1) 100%
  );
  background-repeat: no-repeat;
  height: 800px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head {
  text-align: center;
  text-shadow: 2px 2px 5px #61dafb;
}

.App-link {
  color: #61dafb;
}

.text {
  color: black;
  width: 500px;
  height: 170px;
  background-color: aqua;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
}

.text1 {
  text-align: center;
  color: black;
  width: 500px;
  height: 170px;
  background-color: violet;
  border: 3px solid black;
  border-radius: 10px;
}
.container {
  display: flex;
  justify-content: space-around;
  /* position: absolute; */
  /* top: 200px; */
}

.btn {
  width: 280px;
  height: 50px;
  border-radius: 10px;
  background-color: aqua;
}

.btn-render {
  display: flex;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
